bottg.sytes.net {
    handle /webhook/* {
        reverse_proxy bot:8080
    }

    handle /static/* {
        root * /app
        file_server
    }

    handle {
        reverse_proxy web:8000
    }

    log {
        output stdout
    }
}
